<div class="container">
    <div class="video-container">
        <iframe class="video" src="https://www.youtube.com/embed/x_pOxn_ZLlo?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay></iframe>
    </div>
    <div class="outer-item-container">
        <div class="item-container">
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-left">
                    <img src="../../../assets/box.png" width="50" height="50" />
                    <div class="item-data">
                        <p>name</p>
                        <p>desc</p>
                    </div>
                </div>
                <div class="item-number">
                    <p>$13</p>
                    <div class="item-counter">
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn">
            <p>Buy</p>
        </div>
    </div>
</div>